.table {
  * {
    text-align: left;
  }
  th:not(:last-child),
  td:not(:last-child) {
    padding-right: 5rem;
  }

  td {
    min-width: min-content;
    font-size: 1rem;    
  }

  th {
    font-weight: 600;
    font-size: 1.75rem;    
  }

  tr:not(:last-child) {
    padding-bottom: 2rem;
  }
}
